/* Universal Elements */
:root {
    --dark: #1E1E1E;
    --not-so-dark: #3A3A3A;
    --primary: #FFFFFF;
    --secondary: #564787;
    --grey: #E3E3E3;
    --red: #fc5757;
}

* {
    background-color: var(--not-so-dark);
    color: var(--primary);
}

.page {
 margin: 20px;
}

/* FORM */

.form {
    width: 50%;
  }
 
.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  }


/* RESUME */

.resume-object {
  width: 50%;
  height: 1000px;
}


/* ABOUT */

.zacksPic {
  height: 500px;
}

/* FOOTER */
#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2.5rem; }

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 20px;
}
